<form method="post" action="" class="form" data-component="collapse">
  <h3><a href="#personal-details-box" class="collapse-toggle">Personal Details</a></h3>
  <person-editor id="personal-details-box"  class="collapse-box"></person-editor>
  
  <h3><a href="#accomplishment-box" class="collapse-toggle">Accomplishments</a></h3>
  <accomplishments-editor id="accomplishment-box" class="collapse-box hide"></accomplishments-editor>

  <h3><a href="#education-box" class="collapse-toggle">Education</a></h3>
  <education-editor id="education-box" class="collapse-box hide"></education-editor>
</form>