<form method="post" action="" class="ui form">
  <sui-accordion [closeOthers]="false" class="styled fluid">
      <sui-accordion-panel [isOpen]="true">
          <div title>
              <i class="dropdown icon"></i>
              Personal Details
          </div>
          <div content>
              <person-editor></person-editor>
          </div>          
      </sui-accordion-panel>
      <sui-accordion-panel>
          <div title>
              <i class="dropdown icon"></i>
              Accomplishments
          </div>
          <div content>
              <accomplishments-editor></accomplishments-editor>
          </div>          
      </sui-accordion-panel>    
      <sui-accordion-panel>
            <div title>
                <i class="dropdown icon"></i>
                Education
            </div>
            <div content>
                <education-editor></education-editor>
            </div>          
        </sui-accordion-panel>           
  </sui-accordion>
  <!-- <h3><a href="#personal-details-box" class="collapse-toggle">Personal Details</a></h3>
  

  <h3><a href="#accomplishment-box" class="collapse-toggle">Accomplishments</a></h3>
  <accomplishments-editor id="accomplishment-box" class="collapse-box hide"></accomplishments-editor>

  <h3><a href="#education-box" class="collapse-toggle">Education</a></h3>
  <education-editor id="education-box" class="collapse-box hide"></education-editor> -->
</form>