<div data-remodal-id="modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div>
    
    <h1 class="ui center aligned icon header">
      <i class="help circle icon"></i>
      What is JResume?
    </h1>
    <p>Simply put, JResume is an online resume generator.</p>
    <h2>Advantages</h2>
    <ol >
        <li>
          It's much easier to create a resume here than in Microsoft Word.
        </li>
        <li>
          You can choose from a variety of templates to use when generating your resume.
        </li>
        <li>
          This allows you to separate the content of your resume from its layout/design.
        </li>        
        <li>
          Tired of your current theme? You can just select a new one and redownload your resume! It's so much easier to change the layout of your resume here than in Microsoft Word.
        </li>   
        <li>
            You can easily download both a PDF and an HTML (webpage) version of your resume.
        </li>
        <li>
            Want to put your resume on a website? The HTML version of your resume is just like any other webpage and it has all the css/js/image/fonts bundled into the .html file, so all you need to do is upload it to your web server!
        </li>                       
        <li>
            Completely free and open source. Don't have the funds to pay for one of those premium online resume generators? That's fine, because we won't force you to pay a thing. Although, if you can, please donate :)
        </li>   
        <li>
            Some online resume generators require you to pay to remove their branded watermark from your resume. We don't do any such thing. 
        </li>                                   
      </ol>    
  </div>
  <div>
    <h1 class="ui center aligned icon header">
        <i class="help icon"></i>
        How Do I Use This?
      </h1>
    <div>
      <h2>
        Step 1: Click Edit
      </h2>
      <img class="ui fluid image" src="assets/img/tutorial/1-click-edit.png">
    </div>
    <div>
        <h2>
          Step 2: Fill Out Personal Information
        </h2>
        <img class="ui fluid image" src="assets/img/tutorial/2-personal-information.png">
    </div>    
    <div>
        <h2>
          Step 3: Expand And Fill Out Other Sections
        </h2>
        <img class="ui fluid image" src="assets/img/tutorial/3-other-information.png">
    </div>     
    <div>
        <h2>
          Step 4: Save Your Progress So You Can Edit Your Resume Again Later
        </h2>
        <img class="ui fluid image" src="assets/img/tutorial/4-save.png">
    </div>  
    <div>
        <h2>
          Step 5: Select a Theme
        </h2>
        <img class="ui fluid image" src="assets/img/tutorial/5-theme.png">
    </div>    
    <div>
        <h2>
          Step 6: Preview Results And Download Resume
        </h2>
        <img class="ui fluid image" src="assets/img/tutorial/6-download.png">
    </div>    
    <h2>
        Step 7: Donate If Satisfied
      </h2>
      <img class="ui fluid image" src="assets/img/tutorial/7-donate.png">
  </div>    

</div>