<sui-accordion [closeOthers]="false" class="styled fluid">
    <sui-accordion-panel>
        <div title>
            <i class="dropdown icon"></i>
            Highlights
        </div>
        <div content>
            <div *ngIf="item.highlights && item.highlights.length > 0">
                <div class="ui grid" *ngFor="let highlights of item.highlights; let i = index; trackBy:customTrackBy">
                    <div class="fifteen wide column">
                        <div class="ui fluid input">
                            <input type="text" [ngModel]="item.highlights[i]" (ngModelChange)="item.highlights[i] = $event">
                        </div>
                    </div>
                    <div class="one wide column">
                        <button class="ui red icon button crud" (click)="item.highlights.splice(i,1)">
                          <i class="ui trash icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ui green button" (click)="addHighlight()">Add Highlight</div>
        </div>
</sui-accordion-panel>
