<sui-accordion [closeOthers]="false" class="styled fluid">
    <sui-accordion-panel>
        <div title>
            <i class="dropdown icon"></i>
            School History
        </div>
        <div content>
            <school-editor></school-editor>
        </div>          
    </sui-accordion-panel>  
    <sui-accordion-panel>
        <div title>
            <i class="dropdown icon"></i>
            Examinations
        </div>
        <div content>
            <examination-editor></examination-editor>
        </div>            
    </sui-accordion-panel>
</sui-accordion>