<div class="ui buttons">
    <button class="ui green button" [routerLink]="'/editor'">
        <i class="text cursor icon"></i> 
        Edit
    </button>
    <button class="ui green button" [routerLink]="'/preview'" (click)="preview()">
        <i class="play icon"></i>
        Preview
    </button>

    <button class="ui green button" (click)="downloadHTML()">
            <i class="download icon"></i>
            Download HTML
    </button>
    <button class="ui green button" (click)="downloadPDF()">
        <i class="download icon"></i>
        Download PDF
    </button>

    <sui-select class="yellow floating labeled icon button"
    [icon]="'paint brush'"
    [(ngModel)]="selectedTheme"
    [options]="themes"
    [isSearchable]="true"
    [isDisabled]="loadingThemes"
    [placeholder]="'Select Theme'"
    #select>
        <sui-select-option *ngFor="let option of select.filteredOptions"
                [value]="option">
        </sui-select-option>
    </sui-select>    
</div>
<div class="ui buttons">
    <div>
        <label for="file" class="ui yellow icon button">
            <i class="file icon"></i>
            Export JSON Resume</label>
        <input type="file" style="display:none">
    </div>
    <div>
        <label class="ui yellow icon button" (click)="triggerJSONInputClick()">
            <i class="file icon"></i>
            Import JSON Resume</label>
        <input #jsoninput type="file" id="file" style="display:none" onclick="this.value = null" (change)="importJSON($event)">
    </div>
</div>

<div class="ui active loader text" *ngIf="loading">Downloading...</div>

<router-outlet></router-outlet>