<div *ngIf="resume.jobWork && resume.jobWork.length > 0">
 <div class="ui segment" *ngFor="let jobWork of resume.jobWork; let i = index; trackBy:customTrackBy">
  <div class="ui four fields">
    <div class="ui field">
      <label>Company</label>
      <input [ngModel]="resume.jobWork[i].company" (ngModelChange)="resume.jobWork[i].company = $event">
    </div>
    <div class="ui field">
      <label>Position</label>
      <input [ngModel]="resume.jobWork[i].position" (ngModelChange)="resume.jobWork[i].position = $event">
    </div>  
    <div class="ui field">
      <label>Start Date</label>
      <input [ngModel]="resume.jobWork[i].startDate" (ngModelChange)="resume.jobWork[i].startDate = $event">
    </div>  
    <div class="ui field">
      <label>End Date</label>
      <input [ngModel]="resume.jobWork[i].endDate" (ngModelChange)="resume.jobWork[i].endDate = $event">
    </div>              
  </div>
  <div class="ui field">
    <label>Summary</label>
    <textarea [ngModel]="resume.jobWork[i].summary" (ngModelChange)="resume.jobWork[i].summary = $event"></textarea>
  </div>
  <div class="ui fluid red button" (click)="deleteJobWork(i)">Delete Professional Work</div>
 </div>
</div>
<div class="ui green button" (click)="addJobWork()">Add Professional Work</div>